openapi: 3.0.1
info:
  title: Mailchimp Transactional API
  contact:
    name: API Support
    email: apihelp@mailchimp.com
  version: 1.0.59
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/transactional.json
servers:
- url: https://mandrillapp.com/api/1.0
paths:
  /allowlists/add:
    post:
      tags:
      - allowlists
      summary: Add email to allowlist
      description: "Adds an email to your email rejection allowlist. If the address\
        \ is currently on your denylist, that denylist entry will be removed automatically."
      operationId: postAllowlistsAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowlistsAddBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse200'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse200'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse200'
      deprecated: false
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
  /allowlists/list:
    post:
      tags:
      - allowlists
      summary: List allowlisted emails
      description: Retrieves your email rejection allowlist. You can provide an email
        address or search prefix to limit the results. Returns up to 1000 results.
      operationId: postAllowlistsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowlistsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: up to 1000 allowlist entries
                items:
                  $ref: '#/components/schemas/InlineResponse2001'
            application/x-php:
              schema:
                type: array
                description: up to 1000 allowlist entries
                items:
                  $ref: '#/components/schemas/InlineResponse2001'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: up to 1000 allowlist entries
                items:
                  $ref: '#/components/schemas/InlineResponse2001'
      deprecated: false
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /allowlists/delete:
    post:
      tags:
      - allowlists
      summary: Remove email from allowlist
      description: Removes an email address from the allowlist.
      operationId: postAllowlistsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowlistsDeleteBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2002'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse2002'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse2002'
      deprecated: false
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
  /exports/info:
    post:
      tags:
      - exports
      summary: View export info
      description: "Returns information about an export job. If the export job's state\
        \ is 'complete', the returned data will include a URL you can use to fetch\
        \ the results. Every export job produces a zip archive, but the format of\
        \ the archive is distinct for each job type. The api calls that initiate exports\
        \ include more details about the output format for that job type."
      operationId: postExportsInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2003'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse2003'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse2003'
      deprecated: false
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
  /exports/list:
    post:
      tags:
      - exports
      summary: List exports
      description: Returns a list of your exports.
      operationId: postExportsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the account's exports
                items:
                  $ref: '#/components/schemas/InlineResponse2004'
            application/x-php:
              schema:
                type: array
                description: the account's exports
                items:
                  $ref: '#/components/schemas/InlineResponse2004'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the account's exports
                items:
                  $ref: '#/components/schemas/InlineResponse2004'
      deprecated: false
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /exports/rejects:
    post:
      tags:
      - exports
      summary: Export denylist
      description: "Begins an export of your rejection denylist. The denylist will\
        \ be exported to a zip archive containing a single file named rejects.csv\
        \ that includes the following fields: email, reason, detail, created_at, expires_at,\
        \ last_event_at, expires_at."
      operationId: postExportsRejects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsRejectsBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2005'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse2005'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse2005'
      deprecated: false
      x-custom-config:
        methodNameCamel: rejects
        methodNameSnake: rejects
      x-codegen-request-body-name: body
  /exports/whitelist:
    post:
      tags:
      - exports
      summary: Export Allowlist
      description: "Begins an export of your rejection allowlist. The allowlist will\
        \ be exported to a zip archive containing a single file named allowlist.csv\
        \ that includes the following fields: email, detail, created_at."
      operationId: postExportsWhitelist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsRejectsBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2006'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse2006'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse2006'
      deprecated: false
      x-custom-config:
        methodNameCamel: whitelist
        methodNameSnake: whitelist
      x-codegen-request-body-name: body
  /exports/allowlist:
    post:
      tags:
      - exports
      summary: Export Allowlist
      description: "Begins an export of your rejection allowlist. The allowlist will\
        \ be exported to a zip archive containing a single file named allowlist.csv\
        \ that includes the following fields: email, detail, created_at."
      operationId: postExportsAllowlist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsRejectsBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2006'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse2006'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse2006'
      deprecated: false
      x-custom-config:
        methodNameCamel: allowlist
        methodNameSnake: allowlist
      x-codegen-request-body-name: body
  /exports/activity:
    post:
      tags:
      - exports
      summary: Export activity history
      description: "Begins an export of your activity history. The activity will be\
        \ exported to a zip archive containing a single file named activity.csv in\
        \ the same format as you would be able to export from your account's activity\
        \ view. It includes the following fields: Date, Email Address, Sender, Subject,\
        \ Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom\
        \ metadata fields, they will be included in the exported data."
      operationId: postExportsActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsActivityBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2007'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse2007'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse2007'
      deprecated: false
      x-custom-config:
        methodNameCamel: activity
        methodNameSnake: activity
      x-codegen-request-body-name: body
  /inbound/domains:
    post:
      tags:
      - inbound
      summary: List inbound domains
      description: List the domains that have been configured for inbound delivery.
      operationId: postInboundDomains
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the inbound domains associated with the account
                items:
                  $ref: '#/components/schemas/InlineResponse2008'
            application/x-php:
              schema:
                type: array
                description: the inbound domains associated with the account
                items:
                  $ref: '#/components/schemas/InlineResponse2008'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the inbound domains associated with the account
                items:
                  $ref: '#/components/schemas/InlineResponse2008'
      deprecated: false
      x-custom-config:
        methodNameCamel: domains
        methodNameSnake: domains
      x-codegen-request-body-name: body
  /inbound/add-domain:
    post:
      tags:
      - inbound
      summary: Add inbound domain
      description: Add an inbound domain to your account.
      operationId: postInboundAddDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundAddDomainBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse2009'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse2009'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse2009'
      deprecated: false
      x-custom-config:
        methodNameCamel: addDomain
        methodNameSnake: add_domain
      x-codegen-request-body-name: body
  /inbound/check-domain:
    post:
      tags:
      - inbound
      summary: Check domain settings
      description: Check the MX settings for an inbound domain. The domain must have
        already been added with the add-domain call.
      operationId: postInboundCheckDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundCheckDomainBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20010'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20010'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20010'
      deprecated: false
      x-custom-config:
        methodNameCamel: checkDomain
        methodNameSnake: check_domain
      x-codegen-request-body-name: body
  /inbound/delete-domain:
    post:
      tags:
      - inbound
      summary: Delete inbound domain
      description: Delete an inbound domain from the account. All mail will stop routing
        for this domain immediately.
      operationId: postInboundDeleteDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundCheckDomainBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20011'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20011'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20011'
      deprecated: false
      x-custom-config:
        methodNameCamel: deleteDomain
        methodNameSnake: delete_domain
      x-codegen-request-body-name: body
  /inbound/routes:
    post:
      tags:
      - inbound
      summary: List mailbox routes
      description: List the mailbox routes defined for an inbound domain.
      operationId: postInboundRoutes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundRoutesBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the routes associated with the domain
                items:
                  $ref: '#/components/schemas/InlineResponse20012'
            application/x-php:
              schema:
                type: array
                description: the routes associated with the domain
                items:
                  $ref: '#/components/schemas/InlineResponse20012'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the routes associated with the domain
                items:
                  $ref: '#/components/schemas/InlineResponse20012'
      deprecated: false
      x-custom-config:
        methodNameCamel: routes
        methodNameSnake: routes
      x-codegen-request-body-name: body
  /inbound/add-route:
    post:
      tags:
      - inbound
      summary: Add mailbox route
      description: Add a new mailbox route to an inbound domain.
      operationId: postInboundAddRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundAddRouteBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20013'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20013'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20013'
      deprecated: false
      x-custom-config:
        methodNameCamel: addRoute
        methodNameSnake: add_route
      x-codegen-request-body-name: body
  /inbound/update-route:
    post:
      tags:
      - inbound
      summary: Update mailbox route
      description: "Update the pattern or webhook of an existing inbound mailbox route.\
        \ If null is provided for any fields, the values will remain unchanged."
      operationId: postInboundUpdateRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundUpdateRouteBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20014'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20014'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20014'
      deprecated: false
      x-custom-config:
        methodNameCamel: updateRoute
        methodNameSnake: update_route
      x-codegen-request-body-name: body
  /inbound/delete-route:
    post:
      tags:
      - inbound
      summary: Delete mailbox route
      description: Delete an existing inbound mailbox route.
      operationId: postInboundDeleteRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundDeleteRouteBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20015'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20015'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20015'
      deprecated: false
      x-custom-config:
        methodNameCamel: deleteRoute
        methodNameSnake: delete_route
      x-codegen-request-body-name: body
  /inbound/send-raw:
    post:
      tags:
      - inbound
      summary: Send mime document
      description: "Take a raw MIME document destined for a domain with inbound domains\
        \ set up, and send it to the inbound hook exactly as if it had been sent over\
        \ SMTP."
      operationId: postInboundSendRaw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundSendRawBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: an array of the information for each recipient in the
                  message (usually one) that matched an inbound route
                items:
                  $ref: '#/components/schemas/InlineResponse20016'
            application/x-php:
              schema:
                type: array
                description: an array of the information for each recipient in the
                  message (usually one) that matched an inbound route
                items:
                  $ref: '#/components/schemas/InlineResponse20016'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: an array of the information for each recipient in the
                  message (usually one) that matched an inbound route
                items:
                  $ref: '#/components/schemas/InlineResponse20016'
      deprecated: false
      x-custom-config:
        methodNameCamel: sendRaw
        methodNameSnake: send_raw
      x-codegen-request-body-name: body
  /ips/list:
    post:
      tags:
      - ips
      summary: List ip addresses
      description: Lists your dedicated IPs.
      operationId: postIpsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: an array of objects for each dedicated IP
                items:
                  $ref: '#/components/schemas/InlineResponse20017'
            application/x-php:
              schema:
                type: array
                description: an array of objects for each dedicated IP
                items:
                  $ref: '#/components/schemas/InlineResponse20017'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: an array of objects for each dedicated IP
                items:
                  $ref: '#/components/schemas/InlineResponse20017'
      deprecated: false
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /ips/info:
    post:
      tags:
      - ips
      summary: Get ip info
      description: Retrieves information about a single dedicated IP.
      operationId: postIpsInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20018'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20018'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20018'
      deprecated: false
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
  /ips/provision:
    post:
      tags:
      - ips
      summary: Request additional ip
      description: "Requests an additional dedicated IP for your account. Accounts\
        \ may have one outstanding request at any time, and provisioning requests\
        \ are processed within 24 hours."
      operationId: postIpsProvision
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsProvisionBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20019'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20019'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20019'
      deprecated: false
      x-custom-config:
        methodNameCamel: provision
        methodNameSnake: provision
      x-codegen-request-body-name: body
  /ips/start-warmup:
    post:
      tags:
      - ips
      summary: Start ip warmup
      description: "Begins the warmup process for a dedicated IP. During the warmup\
        \ process, the Transactional API will gradually increase the percentage of\
        \ your mail that is sent over the warming-up IP, over a period of roughly\
        \ 30 days. The rest of your mail will be sent over shared IPs or other dedicated\
        \ IPs in the same pool."
      operationId: postIpsStartWarmup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsStartWarmupBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20020'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20020'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20020'
      deprecated: false
      x-custom-config:
        methodNameCamel: startWarmup
        methodNameSnake: start_warmup
      x-codegen-request-body-name: body
  /ips/cancel-warmup:
    post:
      tags:
      - ips
      summary: Cancel ip warmup
      description: Cancels the warmup process for a dedicated IP.
      operationId: postIpsCancelWarmup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsStartWarmupBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20020'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20020'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20020'
      deprecated: false
      x-custom-config:
        methodNameCamel: cancelWarmup
        methodNameSnake: cancel_warmup
      x-codegen-request-body-name: body
  /ips/set-pool:
    post:
      tags:
      - ips
      summary: Move ip to different pool
      description: Moves a dedicated IP to a different pool.
      operationId: postIpsSetPool
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsSetPoolBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20021'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20021'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20021'
      deprecated: false
      x-custom-config:
        methodNameCamel: setPool
        methodNameSnake: set_pool
      x-codegen-request-body-name: body
  /ips/delete:
    post:
      tags:
      - ips
      summary: Delete ip address
      description: Deletes a dedicated IP. This is permanent and cannot be undone.
      operationId: postIpsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsDeleteBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20022'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20022'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20022'
      deprecated: false
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
  /ips/list-pools:
    post:
      tags:
      - ips
      summary: List ip pools
      description: Lists your dedicated IP pools.
      operationId: postIpsListPools
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: "the dedicated IP pools for your account, up to a maximum\
                  \ of 1,000"
                items:
                  $ref: '#/components/schemas/InlineResponse20023'
            application/x-php:
              schema:
                type: array
                description: "the dedicated IP pools for your account, up to a maximum\
                  \ of 1,000"
                items:
                  $ref: '#/components/schemas/InlineResponse20023'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: "the dedicated IP pools for your account, up to a maximum\
                  \ of 1,000"
                items:
                  $ref: '#/components/schemas/InlineResponse20023'
      deprecated: false
      x-custom-config:
        methodNameCamel: listPools
        methodNameSnake: list_pools
      x-codegen-request-body-name: body
  /ips/pool-info:
    post:
      tags:
      - ips
      summary: Get ip pool info
      description: Describes a single dedicated IP pool.
      operationId: postIpsPoolInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsPoolInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20024'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20024'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20024'
      deprecated: false
      x-custom-config:
        methodNameCamel: poolInfo
        methodNameSnake: pool_info
      x-codegen-request-body-name: body
  /ips/create-pool:
    post:
      tags:
      - ips
      summary: Add ip pool
      description: "Creates a pool and returns it. If a pool already exists with this\
        \ name, no action will be performed."
      operationId: postIpsCreatePool
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsCreatePoolBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20024'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20024'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20024'
      deprecated: false
      x-custom-config:
        methodNameCamel: createPool
        methodNameSnake: create_pool
      x-codegen-request-body-name: body
  /ips/delete-pool:
    post:
      tags:
      - ips
      summary: Delete ip pool
      description: "Deletes a pool. A pool must be empty before you can delete it,\
        \ and you cannot delete your default pool."
      operationId: postIpsDeletePool
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsDeletePoolBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20025'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20025'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20025'
      deprecated: false
      x-custom-config:
        methodNameCamel: deletePool
        methodNameSnake: delete_pool
      x-codegen-request-body-name: body
  /ips/check-custom-dns:
    post:
      tags:
      - ips
      summary: Test custom dns
      description: Tests whether a domain name is valid for use as the custom reverse
        DNS for a dedicated IP.
      operationId: postIpsCheckCustomDns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsCheckCustomDnsBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20026'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20026'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20026'
      deprecated: false
      x-custom-config:
        methodNameCamel: checkCustomDns
        methodNameSnake: check_custom_dns
      x-codegen-request-body-name: body
  /ips/set-custom-dns:
    post:
      tags:
      - ips
      summary: Set custom dns
      description: Configures the custom DNS name for a dedicated IP.
      operationId: postIpsSetCustomDns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsSetCustomDnsBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20027'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20027'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20027'
      deprecated: false
      x-custom-config:
        methodNameCamel: setCustomDns
        methodNameSnake: set_custom_dns
      x-codegen-request-body-name: body
  /messages/send:
    post:
      tags:
      - messages
      summary: Send new message
      description: Send a new transactional message through the Transactional API.
      operationId: postMessagesSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesSendBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/InlineResponse20028'
            application/x-php:
              schema:
                type: array
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/InlineResponse20028'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/InlineResponse20028'
      deprecated: false
      x-custom-config:
        methodNameCamel: send
        methodNameSnake: send
      x-codegen-request-body-name: body
  /messages/send-template:
    post:
      tags:
      - messages
      summary: Send using message template
      description: Send a new transactional message through the Transactional API
        using a template.
      operationId: postMessagesSendTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesSendTemplateBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/InlineResponse20029'
            application/x-php:
              schema:
                type: array
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/InlineResponse20029'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: "an array of objects for each recipient containing the\
                  \ key \"email\" with the email address, and details of the message\
                  \ status for that recipient"
                items:
                  $ref: '#/components/schemas/InlineResponse20029'
      deprecated: false
      x-custom-config:
        methodNameCamel: sendTemplate
        methodNameSnake: send_template
      x-codegen-request-body-name: body
  /messages/search:
    post:
      tags:
      - messages
      summary: Search messages by date
      description: "Search recently sent messages and optionally narrow by date range,\
        \ tags, senders, and API keys. If no date range is specified, results within\
        \ the last 7 days are returned. This method may be called up to 20 times per\
        \ minute. If you need the data more often, you can use /messages/info.json\
        \ to get the information for a single message, or webhooks to push activity\
        \ to your own application for querying."
      operationId: postMessagesSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesSearchBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: an array of objects for each matching message
                items:
                  $ref: '#/components/schemas/InlineResponse20030'
            application/x-php:
              schema:
                type: array
                description: an array of objects for each matching message
                items:
                  $ref: '#/components/schemas/InlineResponse20030'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: an array of objects for each matching message
                items:
                  $ref: '#/components/schemas/InlineResponse20030'
      deprecated: false
      x-custom-config:
        methodNameCamel: search
        methodNameSnake: search
      x-codegen-request-body-name: body
  /messages/search-time-series:
    post:
      tags:
      - messages
      summary: Search messages by hour
      description: Search the content of recently sent messages and return the aggregated
        hourly stats for matching messages.
      operationId: postMessagesSearchTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesSearchTimeSeriesBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20031'
            application/x-php:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20031'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20031'
      deprecated: false
      x-custom-config:
        methodNameCamel: searchTimeSeries
        methodNameSnake: search_time_series
      x-codegen-request-body-name: body
  /messages/info:
    post:
      tags:
      - messages
      summary: Get message info
      description: Get the information for a single recently sent message.
      operationId: postMessagesInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20032'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20032'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20032'
      deprecated: false
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
  /messages/content:
    post:
      tags:
      - messages
      summary: Get message content
      description: Get the full content of a recently sent message.
      operationId: postMessagesContent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20033'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20033'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20033'
      deprecated: false
      x-custom-config:
        methodNameCamel: content
        methodNameSnake: content
      x-codegen-request-body-name: body
  /messages/parse:
    post:
      tags:
      - messages
      summary: Parse mime document
      description: "Parse the full MIME document for an email message, returning the\
        \ content of the message broken into its constituent pieces."
      operationId: postMessagesParse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesParseBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20034'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20034'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20034'
      deprecated: false
      x-custom-config:
        methodNameCamel: parse
        methodNameSnake: parse
      x-codegen-request-body-name: body
  /messages/send-raw:
    post:
      tags:
      - messages
      summary: Send mime document
      description: "Take a raw MIME document for a message, and send it exactly as\
        \ if it were sent through the Transactional API's SMTP servers."
      operationId: postMessagesSendRaw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesSendRawBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                description: ""
            application/x-php:
              schema:
                type: object
                description: ""
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: ""
      deprecated: false
      x-custom-config:
        methodNameCamel: sendRaw
        methodNameSnake: send_raw
      x-codegen-request-body-name: body
  /messages/list-scheduled:
    post:
      tags:
      - messages
      summary: List scheduled emails
      description: Queries your scheduled emails.
      operationId: postMessagesListScheduled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesListScheduledBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: a list of up to 1000 scheduled emails
                items:
                  $ref: '#/components/schemas/InlineResponse20035'
            application/x-php:
              schema:
                type: array
                description: a list of up to 1000 scheduled emails
                items:
                  $ref: '#/components/schemas/InlineResponse20035'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: a list of up to 1000 scheduled emails
                items:
                  $ref: '#/components/schemas/InlineResponse20035'
      deprecated: false
      x-custom-config:
        methodNameCamel: listScheduled
        methodNameSnake: list_scheduled
      x-codegen-request-body-name: body
  /messages/cancel-scheduled:
    post:
      tags:
      - messages
      summary: Cancel scheduled email
      description: Cancels a scheduled email.
      operationId: postMessagesCancelScheduled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesCancelScheduledBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: information about the scheduled email that was cancelled.
                items:
                  $ref: '#/components/schemas/InlineResponse20035'
            application/x-php:
              schema:
                type: array
                description: information about the scheduled email that was cancelled.
                items:
                  $ref: '#/components/schemas/InlineResponse20035'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: information about the scheduled email that was cancelled.
                items:
                  $ref: '#/components/schemas/InlineResponse20035'
      deprecated: false
      x-custom-config:
        methodNameCamel: cancelScheduled
        methodNameSnake: cancel_scheduled
      x-codegen-request-body-name: body
  /messages/reschedule:
    post:
      tags:
      - messages
      summary: Reschedule email
      description: Reschedules a scheduled email.
      operationId: postMessagesReschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesRescheduleBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: information about the scheduled email that was rescheduled.
                items:
                  $ref: '#/components/schemas/InlineResponse20035'
            application/x-php:
              schema:
                type: array
                description: information about the scheduled email that was rescheduled.
                items:
                  $ref: '#/components/schemas/InlineResponse20035'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: information about the scheduled email that was rescheduled.
                items:
                  $ref: '#/components/schemas/InlineResponse20035'
      deprecated: false
      x-custom-config:
        methodNameCamel: reschedule
        methodNameSnake: reschedule
      x-codegen-request-body-name: body
  /metadata/list:
    post:
      tags:
      - metadata
      summary: List metadata fields
      description: Get the list of custom metadata fields indexed for the account.
      operationId: postMetadataList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the custom metadata fields for the account
                items:
                  $ref: '#/components/schemas/InlineResponse20036'
            application/x-php:
              schema:
                type: array
                description: the custom metadata fields for the account
                items:
                  $ref: '#/components/schemas/InlineResponse20036'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the custom metadata fields for the account
                items:
                  $ref: '#/components/schemas/InlineResponse20036'
      deprecated: false
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /metadata/add:
    post:
      tags:
      - metadata
      summary: Add metadata field
      description: Add a new custom metadata field to be indexed for the account.
      operationId: postMetadataAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataAddBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20037'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20037'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20037'
      deprecated: false
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
  /metadata/update:
    post:
      tags:
      - metadata
      summary: Update metadata field
      description: Update an existing custom metadata field.
      operationId: postMetadataUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdateBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20038'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20038'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20038'
      deprecated: false
      x-custom-config:
        methodNameCamel: update
        methodNameSnake: update
      x-codegen-request-body-name: body
  /metadata/delete:
    post:
      tags:
      - metadata
      summary: Delete metadata field
      description: "Delete an existing custom metadata field. Deletion isn't instataneous,\
        \ and /metadata/list will continue to return the field until the asynchronous\
        \ deletion process is complete."
      operationId: postMetadataDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataDeleteBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20039'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20039'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20039'
      deprecated: false
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
  /rejects/add:
    post:
      tags:
      - rejects
      summary: Add email to denylist
      description: Adds an email to your email rejection denylist. Addresses that
        you add manually will never expire and there is no reputation penalty for
        removing them from your denylist. Attempting to denylist an address that has
        been added to the allowlist will have no effect.
      operationId: postRejectsAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectsAddBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20040'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20040'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20040'
      deprecated: false
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
  /rejects/list:
    post:
      tags:
      - rejects
      summary: List denylisted emails
      description: "Retrieves your email rejection denylist. You can provide an email\
        \ address to limit the results. Returns up to 1000 results. By default, entries\
        \ that have expired are excluded from the results; set include_expired to\
        \ true to include them."
      operationId: postRejectsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: Up to 1000 rejection entries
                items:
                  $ref: '#/components/schemas/InlineResponse20041'
            application/x-php:
              schema:
                type: array
                description: Up to 1000 rejection entries
                items:
                  $ref: '#/components/schemas/InlineResponse20041'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: Up to 1000 rejection entries
                items:
                  $ref: '#/components/schemas/InlineResponse20041'
      deprecated: false
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /rejects/delete:
    post:
      tags:
      - rejects
      summary: Delete email from denylist
      description: "Deletes an email rejection. There is no limit to how many rejections\
        \ you can remove from your denylist, but keep in mind that each deletion has\
        \ an affect on your reputation."
      operationId: postRejectsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectsDeleteBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20042'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20042'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20042'
      deprecated: false
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
  /senders/list:
    post:
      tags:
      - senders
      summary: List account senders
      description: Return the senders that have tried to use this account.
      operationId: postSendersList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: "an array of sender data, one for each sending addresses\
                  \ used by the account"
                items:
                  $ref: '#/components/schemas/InlineResponse20043'
            application/x-php:
              schema:
                type: array
                description: "an array of sender data, one for each sending addresses\
                  \ used by the account"
                items:
                  $ref: '#/components/schemas/InlineResponse20043'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: "an array of sender data, one for each sending addresses\
                  \ used by the account"
                items:
                  $ref: '#/components/schemas/InlineResponse20043'
      deprecated: false
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /senders/domains:
    post:
      tags:
      - senders
      summary: List sender domains
      description: Returns the sender domains that have been added to this account.
      operationId: postSendersDomains
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: "an array of sender domain data, one for each sending\
                  \ domain used by the account"
                items:
                  $ref: '#/components/schemas/InlineResponse20044'
            application/x-php:
              schema:
                type: array
                description: "an array of sender domain data, one for each sending\
                  \ domain used by the account"
                items:
                  $ref: '#/components/schemas/InlineResponse20044'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: "an array of sender domain data, one for each sending\
                  \ domain used by the account"
                items:
                  $ref: '#/components/schemas/InlineResponse20044'
      deprecated: false
      x-custom-config:
        methodNameCamel: domains
        methodNameSnake: domains
      x-codegen-request-body-name: body
  /senders/add-domain:
    post:
      tags:
      - senders
      summary: Add sender domain
      description: "Adds a sender domain to your account. Sender domains are added\
        \ automatically as you send, but you can use this call to add them ahead of\
        \ time."
      operationId: postSendersAddDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendersAddDomainBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20045'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20045'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20045'
      deprecated: false
      x-custom-config:
        methodNameCamel: addDomain
        methodNameSnake: add_domain
      x-codegen-request-body-name: body
  /senders/check-domain:
    post:
      tags:
      - senders
      summary: Check domain settings
      description: "Checks the SPF and DKIM settings for a domain, as well the domain\
        \ verification. If you haven't already added this domain to your account,\
        \ it will be added automatically."
      operationId: postSendersCheckDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendersAddDomainBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20046'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20046'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20046'
      deprecated: false
      x-custom-config:
        methodNameCamel: checkDomain
        methodNameSnake: check_domain
      x-codegen-request-body-name: body
  /senders/verify-domain:
    post:
      tags:
      - senders
      summary: Verify domain
      description: "Sends a verification email in order to verify ownership of a domain.\
        \ Domain verification is a required step to confirm ownership of a domain.\
        \ Once a domain has been verified in a Transactional API account, other accounts\
        \ may not have their messages signed by that domain unless they also verify\
        \ the domain. This prevents other Transactional API accounts from sending\
        \ mail signed by your domain."
      operationId: postSendersVerifyDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendersVerifyDomainBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20047'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20047'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20047'
      deprecated: false
      x-custom-config:
        methodNameCamel: verifyDomain
        methodNameSnake: verify_domain
      x-codegen-request-body-name: body
  /senders/info:
    post:
      tags:
      - senders
      summary: Get sender info
      description: "Return more detailed information about a single sender, including\
        \ aggregates of recent stats."
      operationId: postSendersInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendersInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20048'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20048'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20048'
      deprecated: false
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
  /senders/time-series:
    post:
      tags:
      - senders
      summary: View sender history
      description: Return the recent history (hourly stats for the last 30 days) for
        a sender.
      operationId: postSendersTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendersInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20049'
            application/x-php:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20049'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20049'
      deprecated: false
      x-custom-config:
        methodNameCamel: timeSeries
        methodNameSnake: time_series
      x-codegen-request-body-name: body
  /subaccounts/list:
    post:
      tags:
      - subaccounts
      summary: List subaccounts
      description: "Get the list of subaccounts defined for the account, optionally\
        \ filtered by a prefix."
      operationId: postSubaccountsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: "the subaccounts for the account, up to a maximum of\
                  \ 1,000"
                items:
                  $ref: '#/components/schemas/InlineResponse20050'
            application/x-php:
              schema:
                type: array
                description: "the subaccounts for the account, up to a maximum of\
                  \ 1,000"
                items:
                  $ref: '#/components/schemas/InlineResponse20050'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: "the subaccounts for the account, up to a maximum of\
                  \ 1,000"
                items:
                  $ref: '#/components/schemas/InlineResponse20050'
      deprecated: false
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /subaccounts/add:
    post:
      tags:
      - subaccounts
      summary: Add subaccount
      description: Add a new subaccount.
      operationId: postSubaccountsAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountsAddBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20051'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20051'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20051'
      deprecated: false
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
  /subaccounts/info:
    post:
      tags:
      - subaccounts
      summary: Get subaccount info
      description: "Given the ID of an existing subaccount, return the data about\
        \ it."
      operationId: postSubaccountsInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountsInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20052'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20052'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20052'
      deprecated: false
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
  /subaccounts/update:
    post:
      tags:
      - subaccounts
      summary: Update subaccount
      description: Update an existing subaccount.
      operationId: postSubaccountsUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountsUpdateBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20053'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20053'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20053'
      deprecated: false
      x-custom-config:
        methodNameCamel: update
        methodNameSnake: update
      x-codegen-request-body-name: body
  /subaccounts/delete:
    post:
      tags:
      - subaccounts
      summary: Delete subaccount
      description: "Delete an existing subaccount. Any email related to the subaccount\
        \ will be saved, but stats will be removed and any future sending calls to\
        \ this subaccount will fail."
      operationId: postSubaccountsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountsDeleteBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20054'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20054'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20054'
      deprecated: false
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
  /subaccounts/pause:
    post:
      tags:
      - subaccounts
      summary: Pause subaccount
      description: Pause a subaccount's sending. Any future emails delivered to this
        subaccount will be queued for a maximum of 3 days until the subaccount is
        resumed.
      operationId: postSubaccountsPause
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountsPauseBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20055'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20055'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20055'
      deprecated: false
      x-custom-config:
        methodNameCamel: pause
        methodNameSnake: pause
      x-codegen-request-body-name: body
  /subaccounts/resume:
    post:
      tags:
      - subaccounts
      summary: Resume subaccount
      description: Resume a paused subaccount's sending.
      operationId: postSubaccountsResume
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountsResumeBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20056'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20056'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20056'
      deprecated: false
      x-custom-config:
        methodNameCamel: resume
        methodNameSnake: resume
      x-codegen-request-body-name: body
  /tags/list:
    post:
      tags:
      - tags
      summary: List tags
      description: Return all of the user-defined tag information.
      operationId: postTagsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: a list of user-defined tags
                items:
                  $ref: '#/components/schemas/InlineResponse20057'
            application/x-php:
              schema:
                type: array
                description: a list of user-defined tags
                items:
                  $ref: '#/components/schemas/InlineResponse20057'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: a list of user-defined tags
                items:
                  $ref: '#/components/schemas/InlineResponse20057'
      deprecated: false
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /tags/delete:
    post:
      tags:
      - tags
      summary: Delete tag
      description: "Deletes a tag permanently. Deleting a tag removes the tag from\
        \ any messages that have been sent, and also deletes the tag's stats. There\
        \ is no way to undo this operation, so use it carefully."
      operationId: postTagsDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsDeleteBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20058'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20058'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20058'
      deprecated: false
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
  /tags/info:
    post:
      tags:
      - tags
      summary: Get tag info
      description: "Return more detailed information about a single tag, including\
        \ aggregates of recent stats."
      operationId: postTagsInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20059'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20059'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20059'
      deprecated: false
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
  /tags/time-series:
    post:
      tags:
      - tags
      summary: View tag history
      description: Return the recent history (hourly stats for the last 30 days) for
        a tag.
      operationId: postTagsTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20031'
            application/x-php:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20031'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20031'
      deprecated: false
      x-custom-config:
        methodNameCamel: timeSeries
        methodNameSnake: time_series
      x-codegen-request-body-name: body
  /tags/all-time-series:
    post:
      tags:
      - tags
      summary: View all tags history
      description: Return the recent history (hourly stats for the last 30 days) for
        all tags.
      operationId: postTagsAllTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20031'
            application/x-php:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20031'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20031'
      deprecated: false
      x-custom-config:
        methodNameCamel: allTimeSeries
        methodNameSnake: all_time_series
      x-codegen-request-body-name: body
  /templates/add:
    post:
      tags:
      - templates
      summary: Add template
      description: Add a new template.
      operationId: postTemplatesAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesAddBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20060'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20060'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20060'
      deprecated: false
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      x-codegen-request-body-name: body
  /templates/info:
    post:
      tags:
      - templates
      summary: Get template info
      description: Get the information for an existing template.
      operationId: postTemplatesInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20061'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20061'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20061'
      deprecated: false
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
  /templates/update:
    post:
      tags:
      - templates
      summary: Update template
      description: "Update the code for an existing template. If null is provided\
        \ for any fields, the values will remain unchanged."
      operationId: postTemplatesUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesUpdateBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20062'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20062'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20062'
      deprecated: false
      x-custom-config:
        methodNameCamel: update
        methodNameSnake: update
      x-codegen-request-body-name: body
  /templates/publish:
    post:
      tags:
      - templates
      summary: Publish template content
      description: Publish the content for the template. Any new messages sent using
        this template will start using the content that was previously in draft.
      operationId: postTemplatesPublish
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20063'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20063'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20063'
      deprecated: false
      x-custom-config:
        methodNameCamel: publish
        methodNameSnake: publish
      x-codegen-request-body-name: body
  /templates/delete:
    post:
      tags:
      - templates
      summary: Delete template
      description: Delete a template.
      operationId: postTemplatesDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesInfoBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20064'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20064'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20064'
      deprecated: false
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      x-codegen-request-body-name: body
  /templates/list:
    post:
      tags:
      - templates
      summary: List templates
      description: Return a list of all the templates available to this user.
      operationId: postTemplatesList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: an array of structs with information about each template
                items:
                  $ref: '#/components/schemas/InlineResponse20065'
            application/x-php:
              schema:
                type: array
                description: an array of structs with information about each template
                items:
                  $ref: '#/components/schemas/InlineResponse20065'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: an array of structs with information about each template
                items:
                  $ref: '#/components/schemas/InlineResponse20065'
      deprecated: false
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /templates/time-series:
    post:
      tags:
      - templates
      summary: Get template history
      description: Return the recent history (hourly stats for the last 30 days) for
        a template.
      operationId: postTemplatesTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesTimeSeriesBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20049'
            application/x-php:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20049'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20049'
      deprecated: false
      x-custom-config:
        methodNameCamel: timeSeries
        methodNameSnake: time_series
      x-codegen-request-body-name: body
  /templates/render:
    post:
      tags:
      - templates
      summary: Render html template
      description: "Inject content and optionally merge fields into a template, returning\
        \ the HTML that results."
      operationId: postTemplatesRender
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesRenderBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20066'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20066'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20066'
      deprecated: false
      x-custom-config:
        methodNameCamel: render
        methodNameSnake: render
      x-codegen-request-body-name: body
  /urls/list:
    post:
      tags:
      - urls
      summary: List most clicked urls
      description: Get the 100 most clicked URLs.
      operationId: postUrlsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the 100 most clicked URLs and their stats
                items:
                  $ref: '#/components/schemas/InlineResponse20067'
            application/x-php:
              schema:
                type: array
                description: the 100 most clicked URLs and their stats
                items:
                  $ref: '#/components/schemas/InlineResponse20067'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the 100 most clicked URLs and their stats
                items:
                  $ref: '#/components/schemas/InlineResponse20067'
      deprecated: true
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      x-codegen-request-body-name: body
  /urls/search:
    post:
      tags:
      - urls
      summary: Search most clicked urls
      description: Return the 100 most clicked URLs that match the search query given.
      operationId: postUrlsSearchDeprecated
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlsSearchBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the 100 most clicked URLs matching the search query
                items:
                  $ref: '#/components/schemas/InlineResponse20068'
            application/x-php:
              schema:
                type: array
                description: the 100 most clicked URLs matching the search query
                items:
                  $ref: '#/components/schemas/InlineResponse20068'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the 100 most clicked URLs matching the search query
                items:
                  $ref: '#/components/schemas/InlineResponse20068'
      deprecated: true
      x-custom-config:
        methodNameCamel: search
        methodNameSnake: search
      x-codegen-request-body-name: body
  /urls/time-series:
    post:
      tags:
      - urls
      summary: Get url history
      description: Return the recent history (hourly stats for the last 30 days) for
        a URL
      operationId: postUrlsTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlsTimeSeriesBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20069'
            application/x-php:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20069'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the array of history information
                items:
                  $ref: '#/components/schemas/InlineResponse20069'
      deprecated: true
      x-custom-config:
        methodNameCamel: timeSeries
        methodNameSnake: time_series
      x-codegen-request-body-name: body
  /urls/tracking-domains:
    post:
      tags:
      - urls
      summary: List tracking domains
      description: Get the list of tracking domains set up for this account.
      operationId: postUrlsTrackingDomains
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                description: the tracking domains and their status
                items:
                  $ref: '#/components/schemas/InlineResponse20070'
            application/x-php:
              schema:
                type: array
                description: the tracking domains and their status
                items:
                  $ref: '#/components/schemas/InlineResponse20070'
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the tracking domains and their status
                items:
                  $ref: '#/components/schemas/InlineResponse20070'
      deprecated: false
      x-custom-config:
        methodNameCamel: trackingDomains
        methodNameSnake: tracking_domains
      x-codegen-request-body-name: body
  /urls/add-tracking-domain:
    post:
      tags:
      - urls
      summary: Add tracking domains
      description: Add a tracking domain to your account.
      operationId: postUrlsAddTrackingDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendersAddDomainBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20071'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20071'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20071'
      deprecated: false
      x-custom-config:
        methodNameCamel: addTrackingDomain
        methodNameSnake: add_tracking_domain
      x-codegen-request-body-name: body
  /urls/check-tracking-domain:
    post:
      tags:
      - urls
      summary: Check cname settings
      description: Checks the CNAME settings for a tracking domain. The domain must
        have been added already with the add-tracking-domain call.
      operationId: postUrlsCheckTrackingDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlsCheckTrackingDomainBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20071'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20071'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20071'
      deprecated: false
      x-custom-config:
        methodNameCamel: checkTrackingDomain
        methodNameSnake: check_tracking_domain
      x-codegen-request-body-name: body
  /users/info:
    post:
      tags:
      - users
      summary: Get user info
      description: Return the information about the API-connected user.
      operationId: postUsersInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineResponse20072'
            application/x-php:
              schema:
                $ref: '#/components/schemas/InlineResponse20072'
            application/x-yaml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InlineResponse20072'
      deprecated: false
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      x-codegen-request-body-name: body
  /users/ping:
    post:
      tags:
      - users
      summary: Ping
      description: Validate an API key and respond to a ping.
      operationId: postUsersPing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportsListBody'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: string
                description: the string "PONG!"
                example: PONG!
            application/x-php:
              schema:
                type: string
                description: the string "PONG!"
                example: PONG!
            application/x-yaml; charset=utf-8:
              schema:
                type: string
                description: the string "PONG!"
                example: PONG!
      deprecated: false
      x-custom-config:
        methodNameCamel: ping
        methodNameSnake: ping
      x-codegen-request-body-name: body
  /users/ping2:
    post:
      tags:
      - users
      summary: Ping 2
      description: Validate an API key and respond to a ping (JSON parser version).
      operationId: postUsersPing2
      requestBody:
        content:
          application/json:
            schema:
[...]
